.hero_section {
    position: relative;
    padding-top: 100px;
    .txt_box {

        padding: 100px  0;


    }

    .hero_shaow {
        position: absolute;
        left: 50%;
        top: 0;
        object-fit: contain;
        transform: translateX(-50%);
    }

}

@media screen and (max-width: 991px) {

    .hero_section .title {
        font-size: 35px !important;
    }
    .hero_section .butn {
        padding: 12.5px 20px;
    }

}