.download_app_section {
    padding: 70px 0 ;
    position: relative;

    .download_app_wrapper {
        padding: 35px 4vw;
        border-radius: 40px;
        position: relative;
        background-image: linear-gradient(to right , #0071E3 ,#375BC1);

        .download_store_card {
            border: 1px solid #ffffff5a;
            width: 100%;
            border-radius: 20px;
            margin-bottom: 10px;
            .img_box {
                height: 85px;
                display: flex;
                justify-content: center;
                align-items: center;
                  .icon {
                    max-width: 35px;
                    object-fit: contain;
                }
            }
            .name {
                color: var(--blue);
                text-align: center;
                background-color: #fff;
                border-radius: 0 0 20px 20px;
                padding: 5px 5px 15px 5px;
                font-weight: bold;
                display: block;
            }
          
        }

    }


}