.statistics_section {
    position: relative;
    padding: 70px 0;

    .stat_card {
        height: 410px;
        border-radius: 30px;
        position: relative;
        background-color: #F1F4F6;
        padding: 25px;

        .content {
            position: relative;
            z-index: 5;
        }
        .stat_number {
            margin-bottom: 15px;
            .value {
                font-size: 45px;
                color: var(--blue) ;
                font-weight: 500;
            }
            .suffix {
                font-size: 25px;
                color: var(--blue) ;
                margin-inline-start: 7px;
            }
        }

        .stat_description {
            font-size: 20px ;
            color: #161B26;

        }

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            inset: 0;
            height: 100%;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }
    
    }

    .col-lg-3:nth-child(even) .stat_card {
        .content {
            position: absolute;
            bottom: 30px;
            padding: 20px;
            right: 0;
        }
    }

    .col-lg-3:nth-child(1) .stat_card::before{
        background-image: url("/images/stat_card_1.png");
    }

    .col-lg-3:nth-child(2) .stat_card::before{
        background-image: url("/images/stat_card_2.png");
    }

    .col-lg-3:nth-child(3) .stat_card::before{
        background-image: url("/images/stat_card_3.png");
    }

    .col-lg-3:nth-child(4) .stat_card::before{
        background-image: url("/images/stat_card_4.png");
    }


}

html[dir="ltr"]{
    .stat_card::before {
        transform: rotateY(180deg);
    } 

}

@media screen and (max-width: 991px) {

    .statistics_section .stat_card {
        height: 300px;
        margin-bottom: 25px;
    }

}