.footer_section {
    padding-bottom: 50px;
    position: relative;

    .footer_cta {
        padding: 50px 4vw;
        border-radius: 30px;
        background: #f1f4f6;
        margin-bottom: 30px;

        .cta_text {
            font-size: 20px;
            line-height: 1.7;
            margin: 0;
        }

        .cta_buttons {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 15px;
            height: 100%;
        }
    }

    .footer_content {
        padding: 20px;
        border-radius: 30px;
        background: #f1f4f6;

        .footer_card {
            background-color: #fff;
            padding: 30px;
            border-radius: 30px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .footer_logo img {
                height: 60px;
                display: block;
                margin: auto;
                object-fit: contain;
                margin-top: 4vw;
            }

            .iso_img {
                height: 90px;
                object-fit: contain;
                width: 100%;
                margin: 15px 0 ;
            }

            .copyright {
                text-align: center;
                color: #161b2673;
                font-size: 15px;
                font-weight: 500;
            }

        }

        .footer_top {
            .footer_language {
                background-color: #E2E8F2;
                border-radius: 35px;
                // height: 45px;
                display: flex;
                align-items: center;
                color: var(--blue);
                padding: 5px 15px 10px 15px;
                .btn.dropdown-toggle {
                    color: var(--blue);
                    font-size: 16px;
                    font-weight: 600;
                    display: block;
                    width: 100%;
                    text-align: start;
                    i {
                        color: var(--blue);
                        margin-inline-end: 10px;
                    }
                    &::after {
                        top: 20px;
                        inset-inline-end: 12px;
                        position: absolute;
                    }
                }
            }

            .footer_social a {
                color: var(--blue);
                margin-inline-end: 15px;
                font-size: 20px;
            }
        }

        .footer_links {
            h5 {
                font-weight: bold;
                margin-bottom: 20px;
                color: var(--blue);
            }
            ul li {
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 10px;
                a{
                    transition: all .3s linear;
                    &:hover {
                        color: var(--blue);
                        padding-inline-start: 15px;
                    }
                }
            }
        }

    }

    .foot_card_grid {
        padding-inline-end: 3vw;
    }

}

@media screen and (max-width: 991px) {
    .footer_section .footer_cta .cta_buttons {
        justify-content: start !important;
        margin-top: 20px;
    }

    .footer_section .footer_cta .cta_buttons .butn {
        padding: 12.5px 20px;
    }

    .footer_section .footer_content .footer_card {
        margin-bottom: 25px;
        height: calc(100% - 25px);
    }

    .footer_section .footer_content .footer_top .footer_social {
        justify-content: center !important;
        margin-top: 15px;
    }

    .footer_column {
        margin-bottom: 35px;
    }

}